<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
<!-- "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">create-drop</property> <!-- acordarse de sacar los triggers -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/entrega9
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<mapping class="futbolcinco.Administrador"></mapping>
		<mapping class="futbolcinco.Socio"></mapping>
		<mapping class="futbolcinco.Partido"></mapping>
		<mapping class="futbolcinco.FichaInscripcion"></mapping>
		<mapping class="futbolcinco.Infraccion"></mapping>
		<mapping class="futbolcinco.JugadorDenegado"></mapping>
		<mapping class="futbolcinco.JugadorPropuesto"></mapping>
		<mapping class="futbolcinco.ModoInscripcion"/>
		<mapping class="futbolcinco.InscripcionEstandar"/>
		<mapping class="futbolcinco.InscripcionSolidaria"/>
		<mapping class="futbolcinco.InscripcionCondicional"/>
		
	</session-factory>
	
</hibernate-configuration>